[*.cs]

# SA1011: Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = suggestion
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent
csharp_style_var_elsewhere = false:silent
csharp_space_around_binary_operators = before_and_after

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_code_quality_unused_parameters = all:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent

# SX1309: Field names should begin with underscore
dotnet_diagnostic.SX1309.severity = warning

# SA1003: Symbols should be spaced correctly
dotnet_diagnostic.SA1003.severity = suggestion

# SA1004: Documentation lines should begin with single space
dotnet_diagnostic.SA1004.severity = suggestion

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = suggestion

# SA1006: Preprocessor keywords should not be preceded by space
dotnet_diagnostic.SA1006.severity = suggestion

# SA1007: Operator keyword should be followed by space
dotnet_diagnostic.SA1007.severity = suggestion

# SA1008: Opening parenthesis should be spaced correctly
dotnet_diagnostic.SA1008.severity = suggestion

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = suggestion

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = suggestion

# SA1012: Opening braces should be spaced correctly
dotnet_diagnostic.SA1012.severity = suggestion

# SA1013: Closing braces should be spaced correctly
dotnet_diagnostic.SA1013.severity = suggestion

# SA1014: Opening generic brackets should be spaced correctly
dotnet_diagnostic.SA1014.severity = suggestion

# SA1015: Closing generic brackets should be spaced correctly
dotnet_diagnostic.SA1015.severity = suggestion

# SA1016: Opening attribute brackets should be spaced correctly
dotnet_diagnostic.SA1016.severity = suggestion

# SA1017: Closing attribute brackets should be spaced correctly
dotnet_diagnostic.SA1017.severity = suggestion

# SA1020: Increment decrement symbols should be spaced correctly
dotnet_diagnostic.SA1020.severity = suggestion

# SA1018: Nullable type symbols should be spaced correctly
dotnet_diagnostic.SA1018.severity = suggestion

# SA1019: Member access symbols should be spaced correctly
dotnet_diagnostic.SA1019.severity = suggestion

# SA1022: Positive signs should be spaced correctly
dotnet_diagnostic.SA1022.severity = suggestion

# SA1021: Negative signs should be spaced correctly
dotnet_diagnostic.SA1021.severity = suggestion

# SA1023: Dereference and access of symbols should be spaced correctly
dotnet_diagnostic.SA1023.severity = suggestion

# SA1024: Colons Should Be Spaced Correctly
dotnet_diagnostic.SA1024.severity = suggestion

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = suggestion

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = suggestion

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = suggestion

# SA1100: Do not prefix calls with base unless local implementation exists
dotnet_diagnostic.SA1100.severity = suggestion

# SA1102: Query clause should follow previous clause
dotnet_diagnostic.SA1102.severity = suggestion

# SA1103: Query clauses should be on separate lines or all on one line
dotnet_diagnostic.SA1103.severity = suggestion

# SA1104: Query clause should begin on new line when previous clause spans multiple lines
dotnet_diagnostic.SA1104.severity = suggestion

# SA1105: Query clauses spanning multiple lines should begin on own line
dotnet_diagnostic.SA1105.severity = suggestion

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = suggestion

# SA1107: Code should not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = suggestion

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = suggestion

# SA1113: Comma should be on the same line as previous parameter
dotnet_diagnostic.SA1113.severity = suggestion

# SA1617: Void return value should not be documented
dotnet_diagnostic.SA1617.severity = suggestion

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = suggestion

# SA1626: Single-line comments should not use documentation style slashes
dotnet_diagnostic.SA1626.severity = suggestion

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = suggestion
